<% title "Rfiduser" %>

<p>
  <strong>Name:</strong>
  <%= @rfiduser.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @rfiduser.address %>
</p>
<p>
  <strong>Cardid:</strong>
  <%= @rfiduser.cardid %>
</p>

<p>
  <%= link_to "View All", rfidusers_path %>
</p>
